html, * {padding:0; margin:0;} //defining 0 margin and padding for all elements
body {background:url(../images/bg.jpg) no-repeat top center #ada6a0; font-family:Arial,Verdana,Helvetica,sans-serif; font-size:12px;}
a {color:#000;text-decoration:none;}
a:hover{text-decoration:underline;} 
#frame {width:960px; margin:0 auto;} //Frame Container's CSS
